:root {
  --text-color: rgb(255, 255, 255);
  --btn-background-color: rgba(0, 0, 0, 0);
}

.app-header {
  box-sizing: border-box;
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-transition: all .5s;
  transition: all .5s; 
  width: 100%;
  z-index: 1;
}

.app-header a:link, .app-header a:visited { 
  color: var(--text-color);
}

.logo h1 {
  margin: 0;
}

.toggle-hamburger {
  font-size: 1.5rem;
}

a:link, a:visited { 
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a:hover {
  color: rgb(86, 86, 217);
  text-decoration: underline;
}

.nav-button {
  font-size: 30px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
}

.mobile-nav-btn {
  background-color: var(--btn-background-color);
  border: none;
  color: var(--text-color);
  cursor: pointer;
  padding: 0.625rem;
}

@media screen and (min-width: 600px) {
  .navbutton {
      font-size: 30px;
      padding-left: 5px;
      padding-right: 5px;
      cursor: pointer;
  }

}

@media screen and (max-width: 900px) {
  .navbar {
      position: fixed;
      text-align: right;
      color: white;
      width: 0;
      margin-top: 50px;
      padding-top: 5px;
      overflow-x: hidden;
      right: 0;
      top: 0;
      transition: all .5s;
      -webkit-transition: all .5s; 
  }

  .is-nav-stircky {
      background-color: #303030;
  }

  .navwidth {
      width: 200px;
  }

  .navbar > div {
      display: block;
      margin-bottom: 10px;
      text-align: center;
  }

  .navbar > div a:link, .navbar > div a:visited {
    color: white;
  }


  #opennav {
      float: right;
      font-size: 30px;
      cursor: pointer;
  }

  .fullWidth {
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  header {
    padding-left: 40px;
    padding-right: 40px;
  }
  
  #closenav, #opennav {
      display: none;
  }

  .navbar {
      height: 100%;
      float: right;
  }

  .navbutton {
      display: inline-block;
      margin-left: 10px;
  }
}