:root {
  --text-color: rgb(255, 255, 255);
  --text-color2:  rgb(86, 86, 217);
  --text-color3:  rgb(153, 84, 199);
  --text-color4: rgb(204, 14, 14);
  --text-color5: rgb(0, 119, 181);
  --text-color6: rgb(16, 2, 31);
  --background-color: rgba(0, 0, 0, 0);
  --background-color2: rgba(0, 0, 0, 0.1);
  --background-color3: rgb(48, 48, 48);
  --background-color4: rgb(0, 0, 0);
  --background-color5: rgba(232, 232, 232, 0.75);
}

body,
html {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
